/**************************************************************************/
/* Variables to control the colors and sections size */
/* Use the colors and section width and height to change the look of site */
/**************************************************************************/
:root {
  --color-main: rgb(0, 89, 255);
  --color-secondary: rgba(131, 206, 214, 0.623);
  --color-accent: rgb(45, 37, 37);
  --color-font: black;
}
/**************************************************************************/
/* General css */
/**************************************************************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: var(--color-font);
}
/* Unvisited link */
a:link {
  color: red;
}
/* Vidited link */
a:visited {
  color: var(--color-accent);
}
/* Hover link */
a:hover {
  background-color: grey;
  color: var(--color-accent);
}
/* Active link */
a:active {
  color: var(--color-accent);
}
/**************************************************************************/
/* Colors settings */
/**************************************************************************/
.color-secondary-bg {
  background-color: var(--color-secondary);
}
/**************************************************************************/
/* Reusable classes */
/**************************************************************************/

/**************************************************************************/
/* <!-- Header --> */
/**************************************************************************/
#topNavigation {
  position: sticky;
  top: 0;
  z-index: 3;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.topnav li {
  float: left;
}
ul.topnav li a {
  display: inline-block;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  transition: 0.5s;
}
ul.topnav li.burger {
  display: none;
}
.burger-bar {
  width: 30px;
  height: 1px;
  background-color: var(--color-accent);
  margin: 3px 0px;
}
@media screen and (max-width: 600px) {
  ul.topnav li:not(:first-child) {
    display: none;
  }
  ul.topnav li.burger {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  ul.topnav.navToggle li.burger {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.navToggle li {
    float: none;
    display: inline;
  }
  ul.topnav.navToggle li a {
    display: block;
    text-align: left;
  }
}
/**************************************************************************/
/* <!-- Banner --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- About --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Install --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Web dev services --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Web templates --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Customer feedback --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Contact us --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Footer --> */
/**************************************************************************/

/**************************************************************************/
/* Main mobile media query */
/**************************************************************************/
