/**************************************************************************/
/* Variables to control the colors and sections size */
/* Use the colors and section width and height to change the look of site */
/**************************************************************************/

/**************************************************************************/
/* General css */
/**************************************************************************/
html {
  scroll-behavior: smooth;
}
#home {
  /* Stop items blocking topnav on scrolling */
  scroll-margin-top: 3em;
}
h1 {
  font-size: 3em;
}
/**************************************************************************/
/* Colors settings */
/**************************************************************************/
.color-secondary {
  color: var(--color-secondary);
}
/**************************************************************************/
/* Reusable classes */
/**************************************************************************/
.section-height {
  /* Set to min-height so that the content can then expand it if needed */
  min-height: var(--section-height);
}
.img-responsive {
  width: 100%;
  height: auto;
}
.flex-center {
  /* Center items both vertical and horizontal */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  /* Set the button structure only here */
  padding: 0.3em 2em 0.3em 2em;
  margin: 1em;
  font-size: 1.2em;
  border: 1px solid;
  border-radius: 1em;
  text-decoration: none;
  text-align: center;
}
/* Set the reusable button styling here */
.btn-style {
  background-color: var(--color-secondary);
}
.btn-style:hover {
  background-color: var(--color-main);
  color: var(--color-secondary);
}
/**************************************************************************/
/* <!-- Header --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Banner --> */
/**************************************************************************/
#home {
  position: relative;
  text-align: center;
}
.centerTextOverlay {
  /* Show the text over the image, not underneath it */
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  /* Don't let the text div go up behind the navigation */
  margin-top: 1.9em;
  text-align: center;
}
.centerTextOverlay h1 {
  /* Remove the padding on main H1 to make it look better fitting */
  padding: 0.2em;
  background-color: rgba(128, 128, 128, 0.447);
  border: 1px dotted;
  border-radius: 0.2em;
}
.centerTextOverlay p {
  /* Remove the padding on main H1 to make it look better fitting */
  padding: 0.2em;
  background-color: rgba(128, 128, 128, 0.447);
  border: 1px dotted;
  border-radius: 0.2em;
}
/**************************************************************************/
/* <!-- About --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Install --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Web dev services --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Web templates --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Customer feedback --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Contact us --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Footer --> */
/**************************************************************************/

/**************************************************************************/
/* Main mobile media query */
/**************************************************************************/
