/**************************************************************************/
/* Variables to control the colors and sections size */
/* Use the colors and section width and height to change the look of site */
/**************************************************************************/

/**************************************************************************/
/* General css */
/**************************************************************************/

/**************************************************************************/
/* Colors settings */
/**************************************************************************/
/* Gradients used for cool background to some elements */
.gradient-main {
  background: var(--color-main);
  background: linear-gradient(to right, var(--color-main), var(--color-secondary));
}
/**************************************************************************/
/* Reusable classes */
/**************************************************************************/

/**************************************************************************/
/* <!-- Header --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Banner --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- About --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Install --> */
/**************************************************************************/
.install {
  position: relative;
  /* Set to relative so that centerText will work here also */
}
/**************************************************************************/
/* <!-- Web dev services --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Web templates --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Customer feedback --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Contact us --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Footer --> */
/**************************************************************************/

/**************************************************************************/
/* Main mobile media query */
/**************************************************************************/
