/**************************************************************************/
/* Variables to control the colors and sections size */
/* Use the colors and section width and height to change the look of site */
/**************************************************************************/

/**************************************************************************/
/* General css */
/**************************************************************************/
#web-services {
  /* Stop items blocking topnav on scrolling */
  scroll-margin-top: 1.9em;
}
/**************************************************************************/
/* Colors settings */
/**************************************************************************/

/**************************************************************************/
/* Reusable classes */
/**************************************************************************/

/**************************************************************************/
/* <!-- Header --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Banner --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- About --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Install --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Web dev services --> */
/**************************************************************************/
.service-list-ul {
  text-align: left;
  font-size: 1.2em;
  line-height: 1.5em;
}
/**************************************************************************/
/* <!-- Web templates --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Customer feedback --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Contact us --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Footer --> */
/**************************************************************************/

/**************************************************************************/
/* Main mobile media query */
/**************************************************************************/
