/**************************************************************************/
/* Variables to control the colors and sections size */
/* Use the colors and section width and height to change the look of site */
/**************************************************************************/

/**************************************************************************/
/* General css */
/**************************************************************************/
#web-templates {
  /* Stop items blocking topnav on scrolling */
  scroll-margin-top: 1.9em;
}
/**************************************************************************/
/* Colors settings */
/**************************************************************************/

/**************************************************************************/
/* Reusable classes */
/**************************************************************************/
.grid-3-col {
  /* Used for internal content, not main grid */
  display: grid;
  /* Auto fill enabled, set minmax, min column size of 15em and max of 1 fraction */
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 3em;
}
.padding-small {
  padding: 1em;
}
/**************************************************************************/
/* <!-- Header --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Banner --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- About --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Install --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Web dev services --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Web templates --> */
/**************************************************************************/
.thumbnail {
  display: flex;
  flex-direction: column;
  /* Puts space between the items in this element */
  justify-content: space-between;
  border: 1px solid;
  border-radius: 1em;
  background-color: var(--color-secondary);
  color: var(--color-main);
}
/* Put round corners on the top of the images only */
.thumbnail img {
  border-radius: 1em 1em 0 0;
}
/**************************************************************************/
/* <!-- Customer feedback --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Contact us --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Footer --> */
/**************************************************************************/

/**************************************************************************/
/* Main mobile media query */
/**************************************************************************/
