/**************************************************************************/
/* Variables to control the colors and sections size */
/* Use the colors and section width and height to change the look of site */
/**************************************************************************/

/**************************************************************************/
/* General css */
/**************************************************************************/
address {
  padding: 0.5em;
  margin: 0.5em;
}
/**************************************************************************/
/* Colors settings */
/**************************************************************************/

/**************************************************************************/
/* Reusable classes */
/**************************************************************************/
/* Used to reset lists of links etc. */
.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/**************************************************************************/
/* <!-- Header --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Banner --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- About --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Install --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Web dev services --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Web templates --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Customer feedback --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Contact us --> */
/**************************************************************************/

/**************************************************************************/
/* <!-- Footer --> */
/**************************************************************************/
footer ul li {
  margin: 1em;
  /* Used to help page performance on Google page speed insights */
}
address {
  padding: 1em;
  margin: 0.1em;
}
/**************************************************************************/
/* Main mobile media query */
/**************************************************************************/
